fastapi
uvicorn
python-multipart
openai
transformers
datasets
torch
torch.nn
pytesseract
pdfminer
python-docx
pdfminer.six
Pillow
pandas
torch.utils.data.Dataset
torch.utils.data.DataLoader
accelerate>=0.26.0